<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>聊天社区</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <style>
        body {
            font-family: "华文细黑";
            background: url("img/tree.jpg") no-repeat center 0 fixed;
            background-size: 100%;
        }
    </style>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="jumbotron">
                <h1>出错啦!</h1>
                <p th:text="${message}">这谁顶得住啊，等下再来试试吧</p>
                <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
            </div>
        </div>
</div>
</body>
</html>